# Folders with codes not used
lordelo/
mackeyglass/

# Folders with code not ready for experiments
unscented/

# Code used, but not mine
rnonlin/*
paqm/*

# Some PAQM codes are mine
!paqm/gen*
!paqm/PAQMToMOSData.csv

# Media files
*.wav
*.eps
*.png

# Useless files created by MATLAB, Windows or Mac
*.asv
**.ini
**.DS_Store
**/Icon*
