# Code that is not mine
src/rnonlin/*
src/paqm/*

# Some PAQM codes are mine
!src/paqm/gen*
!src/paqm/PAQMToMOSData.csv

# Media files
*.wav
*.png

# Files created by MATLAB, Windows or Mac
*.asv
**.ini
**.DS_Store
**/Icon*
