# Folders with codes not used
lordelo/
mackeyglass/

# Folders with code not ready for experiments
unscented/

# Code used, but not mine
rnonlin/

# Media files
*.wav
*.eps

# Useless files created by MATLAB, Windows or Mac
*.asv
*.ini
*.DS_Store
*/Icon*